js/scripts.js
css/styles.css
assets/img/portfolio/thumbnails/3.jpg
assets/img/portfolio/thumbnails/2.jpg
assets/img/bg-masthead.jpg
assets/img/favicon.ico
assets/img/portfolio/fullsize/1.jpg
assets/img/portfolio/fullsize/2.jpg
assets/img/portfolio/fullsize/3.jpg
assets/img/portfolio/thumbnails/1.jpg
